.landing{
    margin: 0;
    padding: 0;
    margin-top: 0rem;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    background-color: blueviolet; /* For browsers that do not support gradients */
  background-image: linear-gradient(170deg, rgb(15, 59, 105) 0%, rgb(43, 137, 226) 60%, white 60.1%);
}
.rightimage{
    display: flex;
    float: left;
    margin-top: 10rem;
    margin-left: 5rem
}
.rightimage img{
    height: 300px;
    width: 450px;
    border: 2px solid white;
}
.lefttext{
    width: 40%;
   height: 70%;
    justify-content: center;
    display:flex;
    float: left ;   
    margin: 2% 0px 0px 5%;
    text-align: center;
    overflow: hidden;
}
.lefttext .textwrap h1{
    margin-top: 6rem;
    overflow-wrap: break-word;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.lefttext .textwrap p{
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    font-family: 'Oswald', cursive;
    color: whitesmoke;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}
.lefttext .textwrap button{
    font-size: 30px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
    background-color: skyblue;
    font-family: 'Oswald', cursive;
    justify-content: center;
    text-align: center;
    color: white;
}
.lefttext .textwrap button:hover{
    color: rgb(21, 20, 20);
    background-color: #1272df;
    border: 2px solid rgb(117, 114, 114);
}

@media screen and (max-width: 970px) {
    .lefttext {
        width: 35%;
        height: 63%;
    }
    .lefttext .textwrap h1{
        font-size: 26px;
    }
    .lefttext .textwrap p{
        font-size: 18px;
    }
    .rightimage{
       margin-top: 8rem;
    margin-left: 5rem
    }
    .rightimage img{
        height: 280px;
        width: 370px;
    }
}
@media screen and (max-width: 760px) {
    .lefttext {
        width: 30%;
        height: 63%;
    }
    .lefttext{
        margin: -5% 0px 0px 3%;
    }
    .rightimage{
       margin-top: 8rem;
    margin-left: 3rem
    }
    .rightimage img{
        width: 360px;
    }
}
@media screen and (max-width: 615px) {
    .lefttext{

        padding: 0;
        display: flex;
        width: 100%;
        margin-top: -10%;
    }
    .rightimage{
        display: flex;
        width: 100%;
        margin: 3rem 4rem 3rem 4rem;
    }
}